.container {
    border-radius: 0.25rem;
    border: 0.0625rem solid var(--secondary);
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fullName {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.43rem;
    color: var(--primary);
}

.levels {
    display: flex;
    align-items: center;
}

.level {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SF Pro Text;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    width: 1.5rem;
    border-radius: 0.25rem;
    height: 1.5rem;
}

.points {
    border-radius: 0 0.25rem 0.25rem 0;
    border-top: 0.0625rem solid var(--primary);
    border-right: 0.0625rem solid var(--primary);
    border-bottom: 0.0625rem solid var(--primary);
    background: var(--primary-dark);
    width: 100%;
    height: 1.125rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.avatar {
    width: 2rem;
    height: 2rem;
}

.progress {
    color: #ffffff;
    padding-left: 0.25rem;
    transition: all 1s ease;
    background-color: var(--primary);
    width: 0;
}

.coins {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin {
    position: relative;
    display: flex;
    align-items: center;
}

.coinText {
    margin-left: 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    border-top: 0.0625rem solid var(--secondary);
    border-right: 0.0625rem solid var(--secondary);
    border-bottom: 0.0625rem solid var(--secondary);
    background: var(--light-bg);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 0.75rem;
    height: 1.375rem;
    padding-left: 0.8rem;
    padding-right: 0.25rem;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
    color: #ffffff;
}

.coinType {
    z-index: 1;
    position: absolute;
    top: -0.0625rem;
    width: 1.5rem;
    height: 1.5rem;
}

.ghost {
    height: 2.0625rem;
    width: unset;
    top: -0.6875rem;
    left: 0.3125rem;
}

.plus {
    position: absolute;
    left: 1rem;
    top: -0.375rem;
    z-index: 2;
    width: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
}

.plus:hover {
    opacity: 0.7;
}
