.container {
    height: 100%;
    border-right: 0.0625rem solid var(--secondary);
    padding: 2.25rem 0.625rem;
    width: 15.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.teamLogo {
    width: 3rem;
    height: 3rem;
}

.teamName {
    font-size: 1.375rem;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 1.8125rem; /* 131.818% */
}